cat <<EOL > .gitignore
# Ausschließen von großen Dateien
*.tar.gz
*.gz
*.db
*.log

# Ausschließen von Verzeichnissen
/backups/
/savetradebot/
/any_other_large_directory/

# Ausschließen von Cache- oder temporären Dateien
__pycache__/
*.pyc
*.pyo
*.sqlite
*.sqlite3
EOL
